*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,1);

}

.container .left_side{
    position: relative;
    background: #097c91;
    padding: 40px;
}
.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profileText .imgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

}
.profileText .imgBx img{
    position: absolute;
    top: 0;
    left: -105%;
    width: 600px;
    height: 410px;
    object-fit: cover;
}
.profileText h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText h2 span{
    font-size: 0.7em;
    font-weight: 300;
}

.contactInfo{
    padding-top: 30px;
}
.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul{
    position: relative;
}
.contactInfo ul li{
    position: relative;
    list-style: none;
    margin-top: 4%;
    cursor: pointer;
   
}
.contactInfo ul li .text1{
color: white;
position: absolute;
display: inline-block;
margin-top: 15px;
}


.contactInfo ul li .icon{
display: inline-block;
width: 30px;
font-size: 18px;
color: #a6d5eb;
margin-top: 15px;
}
.contactInfo ul li span{
    color: #fff;
    font-weight: 300;
}
.contactInfo.education li{
margin-bottom: 10px;
}
.contactInfo.education h4{
    color: #fff;
    font-weight: 500;
}
.contactInfo.lenguage .percent{
position: relative;
width: 80%;
height: 6px;
background: rgb(73, 68, 68);
display: block;
margin: 15px;
}
.contactInfo.lenguage .percent div{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(219, 207, 207);
}
.container .right_side{
    position: relative;
    background: #fff;
    padding: 40px;
}
.about{
    margin: 30px;

}
.title2{
    margin: 15px;
} 
.datos{
    display: flex; /*para poner uno al lado del otro*/
}
.fecha{
    margin-left: 50%;
    color: gray;
}
@media screen and (max-width:480px) {
    
    .container{
        position: relative;
        width: auto;
        max-width: auto;
        min-height: auto;
        margin: 10%;
        
    
    }
    .title2{
        margin: 10%;
    } 
    .contactInfo ul li .icon{
    
        width: 5%;
        font-size: 70%;
        margin-top: 5%;
    }
    
 .contactInfo ul li .text1{
           
     margin-top: 5%;

    }

 }
    


